@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Libre Baskerville", serif;
}
.container {
  width: 95%;
}

/*HEADER*/
.navbar-brand {
  margin: 0;
  font-size: 48px;
  color: #000000;
}
.navbar-light {
  margin: 34px 0 46px 0;
}
.btn__header {
  width: 172px;
  letter-spacing: 2.5px;
  padding: 0;
  font-size: 11px;
  background-color: transparent;
  color: #7d7d7d;
  border: 0;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.btn__header:hover {
  color: #000000;
  font-weight: 700;
}
hr {
  border-color: #000000;
  margin-bottom: 30px;
}

.my-masonry-grid {
  /*display: -webkit-box; /* Not needed if autoprefixing */
  /* display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size*/
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry>*/
  background: transpatrent;
  margin-bottom: 30px;
}
.my-masonry-grid_column > div:nth-child(15) {
  margin-bottom: 0px;
}
.card-img-overlay {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}
.card-img-overlay:hover {
  opacity: 0.4;
}

/*SLIDESHOW*/

.card__name {
  width: 420px;
  top: 0;
  background-color: #ffffff;
  padding: 35px 48px 35px 40px;
  position: absolute;
  left: 24rem;
  right: 12rem;
  z-index: 2;
}
.card__name h1 {
  font-size: 54px;
}
.card-text__text {
  font-size: 15px;
  color: #7d7d7d;
}

.img__hero-fluid {
  width: 100%;
  height: auto;
}
.img__artist-fluid {
  position: absolute;
  right: -30%;

  bottom: -10%;
}
.card__slide {
  border: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-text__slide {
  position: absolute;
  background-color: transparent;
  z-index: 1;
  font-size: 14px;
  width: 330px;
  top: 115px;
  right: 0;
  /* padding: 180px 30px 30px 200px;*/
}

.card-text__year {
  font-size: 10rem;
  margin-left: 220px;

  opacity: 0.1;
}
.source-link {
  margin-top: 61px;
  color: #7d7d7d;
  transition: color 0.2 ease-in-out;
  font-weight: 500;
}
.source-link:hover {
  color: #000000;
  font-weight: 700;
}
/*CAROUSEL*/

.carousel {
  height: auto;
  margin-top: 100px;
}
/*
.carousel-item {
  margin: 100px 0 100px 0;
}

.carousel-control-next,
.carousel-control-prev {
  padding: 0px;
  background-color: transparent;
  bottom: 0;
  position: absolute;
  width: 4rem;
  top: 50rem;
  border: 0px;
  opacity: 0.5;
  transition: opacity 0.15s ease 0s;
}**/
.carousel-control-prev {
  position: absolute;
  left: 90%;
  height: auto;
  display: flex;
  align-items: end;
  /* right: 0; */
  width: fit-content;
}
.carousel-control-next {
  position: absolute;
  right: 0;
  height: auto;
  display: flex;
  align-items: end;
  width: fit-content;
}

.carousel-control-next {
  position: absolute;
  right: 0;
  height: auto;
  display: flex;
  align-items: end;
  /* margin: 0; */
  width: fit-content;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: none;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-inner {
  height: auto;
}

.carousel-control-prev-icon {
  background-image: url("/public/assets/shared/icon-back-button.svg") !important;
}

.carousel-control-next-icon {
  background-image: url("/public/assets/shared/icon-next-button.svg") !important;
}

.card-galleria {
  color: #000000;
  margin-top: 4rem;
  width: 100%;
}
.card-title__galleria {
  font-size: 26px;
  margin: 0;
}
.card-text__galleria {
  font-size: 14px;
  margin: 0;
}

.btn-dark {
  position: absolute;
  width: 152px;
  text-transform: uppercase;
  bottom: 15px;
  left: 28px;
  padding: 14px 0;
  border-radius: 0;
  letter-spacing: 1px;
  font-size: 10px;
}
.btn-dark:hover {
  color: #ffffff;
  opacity: 0.6;
}
.col__hero {
  position: relative;
  display: flex;
  align-items: center;
}

/*MEDIA QUERY*/
@media (max-width: 992px) {
  .carousel {
    height: auto;
    margin-top: 30px;
  }
  .card__name {
    left: 14rem;
  }
  .card-text__year {
    margin-left: -30px;
  }
  .card-text__slide {
    top: 50px;
  }
  .source-link {
    margin-top: 31px;
  }
  .navbar-light {
    margin: 1rem 0;
  }
  .img__artist {
    position: absolute;
    bottom: 0rem;
    right: -8rem;
    width: 128px;
  }
}
@media (max-width: 768px) {
  .carousel-control-prev {
    left: 85%;
  }
  .navbar-brand {
    font-size: 32px;
  }
  .carousel {
    margin-top: 40px;
  }
  .col__hero {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .img__artist-fluid {
    bottom: 0;
    right: 0px;
    margin-right: 8rem;
    margin-top: 8rem;
    position: relative;
  }
  .card__image {
    display: flex;
    gap: 1rem;
    position: relative;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .card-body__slideshow {
    width: 283px;
    right: -8rem;
    left: 14rem;
    background-color: #ffffff;
    padding: 0 48px 35px 40px;
    position: absolute;
    z-index: 2;
  }
  .btn-dark {
    position: absolute;
  }
  .card-text__slide {
    position: absolute;
    background-color: transparent;
    z-index: 1;
    font-size: 14px;
    max-width: 300px;

    right: 0;
    /* padding: 180px 30px 30px 200px; */
  }
  .opacity-100 {
    opacity: 1 !important;
  }
  .opacity-100 {
    opacity: 1 !important;
  }
  .carousel-control-prev {
    left: 85;
  }
}
@media (max-width: 576px) {
  .card-galleria {
    margin-top: 6rem;
    width: 60%;
  }
  .carousel {
    margin-top: 48px;
  }
  .carousel-control-prev {
    left: 75%;
  }
  .col__hero {
    flex-direction: column;
    align-items: start;
  }
  .card__name {
    width: 280px;
    font-size: 24px;
    height: fit-content;
    left: 0;
    top: 40%;
    padding: 24px;
  }
  .card__name h1 {
    font-size: 24px;
  }
  .img__artist-fluid {
    position: relative;
    margin: 0;
  }
}
