@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Libre Baskerville", serif;
}
.container {
  width: 95%;
}

/*HEADER*/
.navbar-brand {
  margin: 0;
  font-size: 48px;
  color: #000000;
}
.btn {
  font-size: 12px;
  color: #7d7d7d;
}
hr {
  border-color: #000000;
  margin-bottom: 30px;
}

.my-masonry-grid {
  /*display: -webkit-box; /* Not needed if autoprefixing */
  /* display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size*/
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry>*/
  background: transpatrent;
  margin-bottom: 30px;
}
.my-masonry-grid_column > div:nth-child(15) {
  margin-bottom: 0px;
}
.card-img-overlay {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}
.card-img-overlay:hover {
  opacity: 0.4;
}

/*SLIDESHOW*/

.card-body__slideshow {
  width: 420px;
  background-color: #ffffff;
  padding: 0 48px 35px 48px;
  position: absolute;
  right: -230px;
  z-index: 2;
}

.card-title {
  font-size: 56px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 24px;
}
.card-img {
  width: 100%;
  height: auto;
}
.img__artist {
  position: absolute;
  bottom: -60px;
  right: -200px;
  width: 128px;
}
.card__slide {
  border: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-text__slide {
  position: absolute;
  background-color: transparent;
  z-index: 1;
  font-size: 14px;
  width: 330px;
  top: 115px;
  right: 0;
  /* padding: 180px 30px 30px 200px;*/
}

.card-text__year {
  font-size: 10rem;
  left: 180px;
  top: -38px;
  opacity: 0.1;
}
/*CAROUSEL*/

.carousel {
  max-width: 1200px;
  height: 1000px;
  margin: 0 auto;
  overflow-y: hidden;
}

.carousel-item {
  margin: 100px 0 100px 0;
}
/*
.carousel-control-next,
.carousel-control-prev {
  padding: 0px;
  background-color: transparent;
  bottom: 0;
  position: absolute;
  width: 4rem;
  top: 50rem;
  border: 0px;
  opacity: 0.5;
  transition: opacity 0.15s ease 0s;
}**/
.carousel-control-prev {
  position: absolute;
  left: 80%;
  height: 0;
  top: 95vh;

  /* right: 0; */
}
.carousel-control-next {
  position: absolute;
  right: 0;
  height: 0;
  top: 95vh;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: none;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}
.carousel-inner {
  height: auto;
}
.carousel-control-prev-icon {
  background-image: url("/public/assets/shared/icon-back-button.svg") !important;
}

.carousel-control-next-icon {
  background-image: url("/public/assets/shared/icon-next-button.svg") !important;
}

.card-galleria {
  color: #000000;
  margin-top: 4rem;
  width: 100%;
}
.card-title__galleria {
  margin-top: 2rem;
  font-size: 26px;
}
.card-text__galleria {
  font-size: 14px;
}

.btn-dark {
  width: 152px;
  position: absolute;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-left: 16px;
  padding: 14px 0;
  bottom: 137px;
  border-radius: 0;
  letter-spacing: 1px;
  font-size: 10px;
}
.btn-dark:hover {
  color: #ffffff;
}

/*MEDIA QUERY*/
@media (max-width: 992px) {
  .carousel-item {
    margin: 40px 0 40px 0;
  }
  .card-text__year {
    left: -30px;
    top: 0;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
